---
import type { Playlist } from '@/lib/data';
import { CardPlayButton } from './CardPlayButton';
interface Props {
  playlist: Playlist
}
const {playlist} = Astro.props
const { id, cover, title, artists, color } = playlist;
const artistString = artists.join(", ");
---
<!-- Para la transition name tiene que hacer match con el elemeto de la otra pagina -->
<!-- En este caso con la page [id].astro. Nota tiene que ser al elemento a animar-->
<article class="relative group shadow-lg hover:shadow-xl bg-zinc-500/30  hover:bg-zinc-800 transition-all duration-300 rounded-md">
  
  <div class="absolute right-4 bottom-20 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10">
    <CardPlayButton client:load id={id} />
  </div>
    <a
      href={`/playlist/${id}`}
      class="playlist-item flex flex-col relative p-2 pb-6 overflow-hidden items-start gap-2 w-44"
      transition:name=`playlist ${playlist?.id} box`
    >
      <picture class="flex-none aspect-square w-full h-auto">
        <img
          src={cover}
          alt={`Cover of ${title} by ${artistString}`}
          class=" object-cover w-full h-full rounded-md"
          transition:name=`playlist ${id} image`
        />
      </picture>

      <div class="flex flex-auto flex-col px-2 ">
        <h4 transition:name=`playlist ${id} title`
        class="text-sm text-white">
          {title}
        </h4>

        <span 
        transition:name=`playlist ${id} artist`
        class="text-xs text-white/50">
          {artistString}
        </span>
      </div>


    </a>
</article>

